/* 
    Document   : arrow
    Created on : Jun 28, 2014, 11:03:44 AM
    Author     : Asus
    Description:
        Purpose of the stylesheet follows.
*/
.arrow_timeLineMenuNav {
    border:1px solid #FFFFFF; margin:38px 0 -40px;
}
.arrow_photo, .arrow_album,.arrow_box, .arrow_phototab, .arrow_timeLine, .arrow_firend_all {
    position: relative;
    background: #fff;
}
.arrow_photo:after, .arrow_photo:before {
    bottom: 100%;
    left: 8%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_album:after, .arrow_album:before {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 38%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}

.arrow_phototab:after, .arrow_phototab:before {
    bottom: 100%;
    left: 59%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}

.arrow_timeLine:after, .arrow_timeLine:before {
    bottom: 100%;
    left: 30%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}

.arrow_firend_all:after, .arrow_firend_all:before {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}
.arrow_photo:after, .arrow_album:after, .arrow_box:after, .arrow_phototab:after, .arrow_timeLine:after, .arrow_firend_all:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}
.arrow_photo:before, .arrow_album:before, .arrow_box:before, .arrow_phototab:before, .arrow_timeLine:before, .arrow_firend_all:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ccc;
    border-width: 11px;
    margin-left: -11px;
}


