/* 
    Document   : ink-button
    Created on : May 10, 2014, 8:42:45 AM
    Author     : Asus
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.ink-button{
    display: inline-block;
    white-space: nowrap;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* W3C */
    border: 1px solid #a1a1a1;
    padding: 0 8px;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #777;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0 rgba(0, 0, 0, .3);
}
.ink-button:before
{
    float: left;
    width: 8px;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    margin:0;
    padding-right: 10px;
    pointer-events: none;
}
.ink-button:hover, .ink-button:active, .ink-button:focus{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}
.ink-button.green-button {
    box-shadow: 0px 10px 14px -7px #f0f7fa;
    -moz-box-shadow: 0px 10px 14px -7px #f0f7fa;
    -webkit-box-shadow: 0px 10px 14px -7px #f0f7fa;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    display:inline-block;
    background: linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* W3C */
    border: 1px solid #057fd0;
    padding: 0 10px;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
}
.ink-button.green-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
    background-color:#019ad2;
}

/*Forms*/
.add:before {
    content: "\271A";
}
.edit:before {
    content: "\270E";
}
.delete:before {
    content: "\2718";
}
.save:before {
    content: "\2714";
}
.email:before {
    content: "\2709";
}
.cross:before {
    content: "\2716";
}
/*Currency*/
.dollar:before {
    content:"\0024";
}
.euro:before {
    content:"\20AC";
}
.pound:before {
    content: "\00A3";
}
.cent:before {
    content: "\20B5";
}
/*Temp*/
.celsius:before {
    content: "\2103";
}
.fahrenheit:before {
    content: "\2109";
}
/*Math & Factions*/
.pi:before {
    content: "\213C";
}
.one_thrid:before {
    content: "\2153";
}
.two_thrid:before {
    content: "\2154";
}
.one_fifth:before {
    content: "\2155";
}
.two_fifth:before {
    content: "\2156";
}
.three_fifth:before {
    content: "\2157";
}
.four_fifth:before {
    content: "\2158";
}
.one_sixth:before {
    content: "\2159";
}
.five_sixth:before {
    content: "\215A";
}
.one_eighth:before {
    content: "\215B";
}
.three_eighth:before {
    content: "\215C";
}
.five_eighth:before {
    content: "\215D";
}
.seven_eighth:before {
    content: "\215E";
}
.quarter:before {
    content: "\00BC";
}
.half:before {
    content: "\00BD";
}
.three_quarter:before {
    content: "\00BE";
}
/*Arrows*/
.next:before {
    content: "\279C";
}
.left_arrow:before {
    content: "\2190";
}
.up_arrow:before {
    content: "\2191";
}
.right_arrow:before {
    content: "\2192";
}
.down_arrow:before {
    content: "\2193";
}
.up_left_arrow:before {
    content: "\2196";
}
.up_right_arrow:before {
    content: "\2197";
}
.down_left_arrow:before {
    content: "\2199";
}
.down_right_arrow:before {
    content: "\2198";
}
/*Symbols*/
.like:before {
    content: "\2764";
}
.star:before {
    content: "\2605";
}
.spark:before {
    content: "\2737";
}
.play:before {
    content: "\25B6";
}
.blacksun:before {
    content: "\2600";
}
.cloud:before {
    content: "\2601";
}
.umbrella:before {
    content: "\2602";
}
.snowman:before {
    content: "\2603";
}
.blackstar:before {
    content: "\2605";
}
.whitestar:before {
    content: "\2606";
}
.blackphone:before {
    content: "\260E";
}
.saltire:before {
    content: "\2613";
}
.hot_drink:before {
    content: "\2615";
}
.skull:before {
    content: "\2620";
}
.radioactive:before {
    content: "\2622";
}
.biohazard:before {
    content: "\2623";
}
.peace:before {
    content: "\262E";
}
.yingyang:before {
    content: "\262F";
}
.frowning_face:before {
    content: "\2639";
}
.smiling_face:before {
    content: "\263A";
}
.first_quarter_moon:before {
    content: "\263D";
}
.last_quarter_moon:before {
    content: "\263E";
}
.wheelchair:before {
    content: "\267F";
}
.recycle:before {
    content: "\267D";
}
.recycle2:before {
    content: "\267C";
}
.music_note:before {
    content: "\266C";
}
.warning:before {
    content: "\26A0";
}
.male_and_female:before {
    content: "\26A4";
}
.scissors:before {
    content: "\2701";
}
.airplane:before {
    content: "\2708";
}
.snow:before {
    content: "\2042";
}
