/* 
    Document   : group
    Created on : May 10, 2014, 8:46:32 AM
    Author     : Asus
    Description:
        Purpose of the stylesheet follows.
*/

.menuGroup {
    padding-top: 10px !important;
}
.menuGroup li{
    padding: 5px 0;
    text-transform: capitalize
}
.menuGroup li#groupDescription a{
    font-weight: bold;
}
.menuGroup li a{
    padding: 0 !important;
}
.groupItem{
    padding:5px; border-bottom: 1px solid #ccc
}
.userItem{
    margin: 0 5px;
}
.fullName{
    font-weight: bold;
}
.topBarGroup{
    padding:10px 5px; border: 1px solid #ccc; border-top: none;
}
.profileCover li a{
    padding: 0 !important;
    position: relative;
}
.profileCover li a span{
    position: absolute;
    display: none;
    bottom: 5px;
    left: 15px;
    font-weight: bold;
    z-index: 999;
}
.profileCover li a:hover span{
    display: block;
}
.profileCover li a img{
    max-width: 100px
}
#dialog{
    padding: 0;
    margin: 0;
}

.footerDialog{
    text-align: right;
    padding: 8px;
    position: absolute; bottom: 0; left: 0; width: 100%;
    background-image: -webkit-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: -moz-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: -o-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: -ms-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#e9e9e9');

    border-top:1px solid #bababa;

}
.statusDialog{
    padding: 10px;
    line-height: 20px;
}
.ink-form select, .ink-form textarea, .ink-form input[type="text"], .ink-form input[type="password"], .ink-form input[type="datetime"], .ink-form input[type="datetime-local"], .ink-form input[type="date"], .ink-form input[type="month"], .ink-form input[type="time"], .ink-form input[type="week"], .ink-form input[type="number"], .ink-form input[type="email"], .ink-form input[type="url"], .ink-form input[type="search"], .ink-form input[type="tel"], .ink-form input[type="color"] {
    padding: 5px !important;
}
.ink-form .control-group input[type="radio"] + label, .ink-form .control-group input[type="checkbox"] + label {
    margin-top: -4px !important;
}
.loadingGroup{
    width: 50px;
    background-image: url('../images/loadingIcon.gif');
    position: relative;
}
.cover
{
    height:250px;
    width:745px;
}
.cover img
{
    width:100%; 
    height:100%;
    display:block;
}