/* 
    Document   : group
    Created on : May 10, 2014, 8:46:32 AM
    Author     : Asus
    Description:
        Purpose of the stylesheet follows.
*/

.menuGroup {
    padding-top: 10px !important;
}
.menuGroup li{
    padding: 5px 0;
    text-transform: capitalize
}
.menuGroup li#groupDescription a{
    font-weight: bold;
}
.menuGroup li a{
    padding: 0 !important;
}
.groupItem{
    padding:5px; border-bottom: 1px solid #ccc
}
.userItem{
    margin: 0 5px;
    position: relative;
}
.userItem .fullName{
    font-weight: bold;
}
.userItem .action{
    position: absolute;
    top: 20px;
    right: 55px;
}
.topBarGroup{
    border: 1px solid #ccc; border-top: none;
    padding: 10px 0;
}
.profileCover li a{
    padding: 0 !important;
    position: relative;
}
.profileCover li a span{
    position: absolute;
    display: none;
    bottom: 5px;
    left: 15px;
    font-weight: bold;
    z-index: 999;
}
.profileCover li a:hover span{
    display: block;
}
.profileCover li a img{
    max-width: 100px
}
#dialog{
    padding: 0;
    margin: 0;
}


.statusDialog{
    padding: 10px;
    line-height: 20px;
}
.ink-form select, .ink-form textarea, .ink-form input[type="text"], .ink-form input[type="password"], .ink-form input[type="datetime"], .ink-form input[type="datetime-local"], .ink-form input[type="date"], .ink-form input[type="month"], .ink-form input[type="time"], .ink-form input[type="week"], .ink-form input[type="number"], .ink-form input[type="email"], .ink-form input[type="url"], .ink-form input[type="search"], .ink-form input[type="tel"], .ink-form input[type="color"] {
    padding: 5px !important;
}
.ink-form .control-group input[type="radio"] + label, .ink-form .control-group input[type="checkbox"] + label {
    margin-top: -4px !important;
}
.loadingGroup{
    width: 50px;
    background-image: url('../images/loadingIcon.gif');
    position: relative;
}
.cover
{
    height:250px;
    width:745px;
}
.cover img
{
    width:100%; 
    height:100%;
    display:block;
}
.coverGroup{
    position: relative;
    min-height: 150px;
    border: 1px solid #e4e4e4;
    border-bottom: none;
    background-color: #F6F7F8;
}
/*.coverGroup .actionCover, .displayPhoto .ink-button{
    position: absolute;
    top: 20px;
    right: 20px;
}*/
.uploadCoverGroup {
    border: 1px solid #ccc; padding: 70px 0;
}