
[class^="icon30-"], [class*=" icon30-"] {
    display: inline-block;
    width: 30px;
    height:30px;
    *margin-right: .3em;
    line-height: 11px;
    vertical-align: text-top;
    background-image: url("../images/icon/icon30.png");
    background-position: 0;
    background-repeat: no-repeat;
    z-index:9999;
}

.icon35-active {
    background-image: url("../images/icon/icon35-active.png");
}
.icon30-notification{
    background-position: -330px -320px;
}
.icon30-setting{
    background-position:-219px -356px;
}