body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    height: 100%;
    background-color: white;
}

.nBorder {
    border: 1px solid;
}

#uiGlobalContainer {
    width: 100%;
    overflow: hidden;
}

#mainWrapper {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
}

.mainBg {
    background: rgb(0,91,159); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,91,159,1) 0%, rgba(13,132,199,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,91,159,1)), color-stop(100%,rgba(13,132,199,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,91,159,1) 0%,rgba(13,132,199,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,91,159,1) 0%,rgba(13,132,199,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,91,159,1) 0%,rgba(13,132,199,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,91,159,1) 0%,rgba(13,132,199,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005b9f', endColorstr='#0d84c7',GradientType=0 ); /* IE6-9 */
}

.lineStroke {
    border-bottom: 2px solid #FFFFFF;
}

.overflowStyle {
    overflow: hidden;
}

.activeLink {
    color: white !important;
    text-decoration: none;
}
.name{
    font-weight: bold;
}
#uiLogInBox, #uiSignUpBox {
    padding: 10px 10px 0px;
}

#msgLogIn p, #msgSignUp p {
    line-height: 14px;
}

#msgOther, #msgValidate {
    margin: 10px 50px;
    padding: 1em 2em;
}

.uiBirthday div select, .uiGender div select, .uiLanguage div select {
    padding: 6.5px 6.5px 6.5px 2px;
}

.cbRememberMe, .cbAgreeTermsPrivacyPolicy {
    vertical-align: bottom;
}

.uiIntroductionBox {
    padding: 10px;
    height: 300px;
    border: 1px solid;
}

.quickLogInBox {
    display: none;
}

.msgConfirmBox {
    height: 350px;
}

.uiForgotPWBox {
    margin: 20px 30px;
}

.forgotPwContent {
    background-color: white;
}

.forgotContainer {
    font-size: 14px;
    padding: 20px 10px;
}

.quickLogInBox input.fixWidth220 {
    padding: 4px 5px;
    font-size: 13px;
}

#uiLogInLink, #uiSignUpLink {
    cursor: pointer;
}

.forgotContainer .ink-form .control-group input[type="radio"] + label, .ink-form .control-group input[type="checkbox"] + label {
    float: none;
    line-height: normal;
}

.imgSearch img {
    width: 60px;
    height: 60px;
}

.leftCol {
    padding: 10px;
}

.rightCol {
    padding: 0 10px;
}

.infoSearch {
    margin-top: 10px;
}

.infoSearch span {
    font-size: 11px;
}
/*--CSS linkColor Style--*/
.linkColor-9aa9c8 {
    color: #9aa9c8;
}

.linkColor-9aa9c8:hover {
    color: white;
    text-decoration: none;
}

.linkHover-fffff:hover {
    color: white;
    text-decoration: none;
}

.linkColor-999999 {
    color: #999999;
}

.linkColor-999999:hover {
    color: #999999;
}
/*--CSS Font Size--*/
.fontSize-18 {
    font-size: 18px;
}

.fontSize-14 {
    font-size: 14px;
}
/*--End CSS font size--*/
/*--CSS Fix Size Style--*/
.fixMarginTop-10 {
    margin-top: 10px;
}

.fixMarginRight-10 {
    margin-right: 10px;
}

.fixMarginBottom-5 {
    margin-bottom: 5px;
}

.fixMarginBottom-10 {
    margin-bottom: 10px;
}

.fixMarginBottom-20 {
    margin-bottom: 20px;
}

.fixMarginLeft-8 {
    margin-left: 8px;
}

.fixMarginTopBottom-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fixMarginTop-9 {
    margin-top: 9px;
}

.fixMarginTop-13 {
    margin-top: 13px;
}

.fixMarginTop-12 {
    margin-top: 12px;
}

.fixLayout-marginLeft20 {
    margin-left: 20px;
}

.fixLayout-marginLeft40 {
    margin-left: 40px;
}

.fixLayout-marginLeft30 {
    margin-left: 30px;
}

.fixMarginTop-4 {
    margin-top: 4px;
}
/*--End CSS fix size style--*/
/*--CSS Fix Color Style--*/
.fixColor-a9b1c6 {
    color: #A9B1C6;
}

.fixColor-fffff {
    color: white;
}

.fixColor-0069d6 {
    color: #0069d6;
}

.fixColor-111111 {
    color: #111111;
}

.fixColor-adabab {
    color: #adabab;
}
/*--End CSS fix color style--*/
#topBar {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    background: rgb(0,91,159); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,91,159,1) 0%, rgba(13,132,199,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,91,159,1)), color-stop(100%,rgba(13,132,199,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,91,159,1) 0%,rgba(13,132,199,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,91,159,1) 0%,rgba(13,132,199,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,91,159,1) 0%,rgba(13,132,199,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,91,159,1) 0%,rgba(13,132,199,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005b9f', endColorstr='#0d84c7',GradientType=0 ); /* IE6-9 */
}

.fixWidth300 {
    width: 300px;
}

.fixWidth220 {
    width: 220px;
}

#uiSearch input {
    padding: 4px 6px;
}

#uiSearch button {
    padding: 4px 12px;
}

.uiTimeLineNav a, .uiStatusNav {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}

#uiContainerWrapper {
    margin-top: 52px;
    padding: 0;
}

#sideBar {
    right: 15px;
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
}

.uiLeftCol, .uiRightCol {
    padding-top: 10px;
}

.borderLineRight {
    border-right: 1px solid #CCCCCC;
}

.borderLineLeft {
    border-left: 1px solid #CCCCCC;
    min-height: 700px;
}

.uiBoxProfile {
    padding: 10px 0 10px 10px;
}

.uiProfileInfo {
    margin: 10px 0;
}

.uiProfileInfo p {
    font-weight: bold;
}

.uiSideNav {
    padding: 10px 0 10px 10px;
}

.uiSideNav .ink-navigation ul.menu.vertical li a {
    padding: 0;
    border: none;
}
/*Nav*/
.uiVerticalNav {
    overflow: hidden;
    background: white;
}
.uiVerticalNav a {
    display: block;
    line-height: 34px;
    text-decoration: none;
}

.uiSideNav .uiVerticalNav .uiVerticalNav-menu li {
    margin: 0;
}

.uiVerticalNav li:last-child .uiVerticalNav-item {
    border-bottom-color: #50575f;
}
.uiVerticalNav li:last-child .uiVerticalNav-subnav {
    border-bottom-color: white;
}

.uiVerticalNav-item {
    position: relative;
    padding: 0 12px 0 37px;
    font-size: 13px;
    color: #0069d6;
    background-color: white;
    -webkit-transition: opacity 0.15s;
    -moz-transition: opacity 0.15s;
    -o-transition: opacity 0.15s;
    transition: opacity 0.15s;
}
.uiVerticalNav-item:hover {
    opacity: .95;
    background: #259bdb;
    border-top-color: #6ad2ef;
    border-bottom-color: #1c638f;
    -webkit-box-shadow: 0 1px #bbbbbb, 0 2px #e9ebe8;
    box-shadow: 0 1px #bbbbbb, 0 2px #e9ebe8;
    background-image: -webkit-linear-gradient(top, #44c5ec, #259bdb);
    background-image: -moz-linear-gradient(top, #44c5ec, #259bdb);
    background-image: -o-linear-gradient(top, #44c5ec, #259bdb);
    background-image: linear-gradient(to bottom, #44c5ec, #259bdb);
}
.active .uiVerticalNav-item, .uiVerticalNav-item:active {
    opacity: 1;
    background: #259bdb;
    border-top-color: #6ad2ef;
    border-bottom-color: #1c638f;
    -webkit-box-shadow: 0 1px #bbbbbb, 0 2px #e9ebe8;
    box-shadow: 0 1px #bbbbbb, 0 2px #e9ebe8;
    background-image: -webkit-linear-gradient(top, #44c5ec, #259bdb);
    background-image: -moz-linear-gradient(top, #44c5ec, #259bdb);
    background-image: -o-linear-gradient(top, #44c5ec, #259bdb);
    background-image: linear-gradient(to bottom, #44c5ec, #259bdb);
}
.active .uiVerticalNav-item .uiVerticalNav-counter, .uiVerticalNav-item:active .uiVerticalNav-counter {
    /*background: #2471a9;*/
}
.uiVerticalNav-item i {
    position: absolute;
    top: 7px;
    left: 9px;
}

.uiVerticalNav-counter {
    float: right;
    margin-top: 8px;
    padding: 0 6px;
    background-color: white;
    line-height: 18px;
    font-size: 11px;
    border-radius: 9px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
}

.uiVerticalNav-subnav {
    display: none;
}
.active .uiVerticalNav-subnav {
    display: block;
}
.uiVerticalNav-subnav a {
    padding: 0 12px 0 16px;
    font-size: 12px;
    color: #838a90;
    border-bottom: 1px solid #eee;
}
.uiVerticalNav-subnav a:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 8px;
    border: 4px outset transparent;
    border-left: 4px solid #bbb;
}
.uiVerticalNav-subnav a:hover {
    background: #dadfea;
}
.uiVerticalNav-subnav .vnav-counter {
    color: #999;
    background: #fcfcfc;
    -webkit-box-shadow: inset 0 0 0 1px gainsboro;
    box-shadow: inset 0 0 0 1px gainsboro;
}
.uiVerticalNav-subnav li:last-child a {
    border-bottom-color: white;
}

[class*="topNavIcon1-"] {
    display: block;
    height: 32px;
    background-image: url("../images/topNavIcons-1.png");
    background-repeat: no-repeat;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
}

.topNavIcon1-logo {
    background-position: 0 0;
}

.topNavIcon1-home {
    background-position: -190px 0;
}

.topNavIcon1-home:hover {
    background-position: -241px 0;
}

.topNavIcon1-requestFriends {
    background-position: -290px 0;
}

.topNavIcon1-requestFriends:hover {
    background-position: -345.5px 0;
}

.topNavIcon1-messages {
    background-position: -395px 0;
}

.topNavIcon1-messages:hover {
    background-position: -449px 0;
}

.topNavIcon1-notifications {
    background-position: -495px 0;
}

.topNavIcon1-notifications:hover {
    background-position: -544px 0;
}

[class*="topNavIcon2-"] {
    display: block;
    height: 28px;
    background-image: url("../images/topNavIcons-2.png");
    background-repeat: no-repeat;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
}

.topNavIcon2-search {
    background-position: 0 0;
}

.topNavIcon2-quickWriteStatus {
    background-position: -70px 0;
}

.topNavIcon2-quickWriteStatus:hover {
    background-position: -36px 0;
}

.topNavIcon2-settingOptions {
    background-position: -135px 0;
}

.topNavIcon2-settingOptions:hover {
    background-position: -105px 0;
}

[class*="statusCounterIcon-"] {
    display: block;
    height: 10px;
    background-image: url("../images/statusCounterIcons.png");
    background-repeat: no-repeat;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    width: 16px;
}

.statusCounterIcon-like {
    background-position: -2px 0;
    float: left;
    margin-top: 3px;
}

.statusCounterIcon-comment {
    background-position: -42px 0;
    float: left;
    margin-top: 3px;
}

.statusCounterIcon-share {
    background-position: -85px 0;
    float: left;
    margin-top: 3px;
    width: 18px;
}

.statusCounterIcon-followPost {
    background-position: -130px 0;
    float: left;
    margin-top: 3px;
}

[class*="photoNavIcon-"] {
    display: block;
    height: 21px;
    background-image: url("../images/photoNavIcons.png");
    background-repeat: no-repeat;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    width: 28px;
}

.photoNavIcon-like {
    float: left;
    background-position: 0 0;
    margin-right: 3px;
}

.photoNavIcon-unlike {
    float: left;
    background-position: -35px 0;
    margin-right: 3px;
}

.photoNavIcon-like:hover {
    background-position: -35px 0;
}

.photoNavIcon-comment {
    float: left;
    background-position: -67px 0;
    margin-right: 3px;
}

.photoNavIcon-comment:hover {
    background-position: -102px 0;
}

.photoNavIcon-share {
    float: left;
    background-position: -205px 0;
    margin-right: 3px;
}

.photoNavIcon-share:hover {
    background-position: -237px 0;
}

[class*="navMenuIcon-"] {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../images/menuNavIcons.png");
    background-repeat: no-repeat;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
}

.navMenuIcon-newFeed {
    background-position: -51px 0;
}

.navMenuIcon-newFeed:hover {
    background-position: -71px 0;
}

.navMenuIcon-messages {
    background-position: -92px 0;
    width: 27px;
    margin-left: -4px;
}

.navMenuIcon-messages:hover {
    background-position: -124px 0;
    width: 27px;
    margin-left: -4px;
}

.navMenuIcon-group {
    background-position: -155px 0;
    width: 28px;
    margin-left: -4px;
}

.navMenuIcon-group:hover {
    background-position: -181px 0;
    width: 28px;
    margin-left: -4px;
}

.navMenuIcon-event {
    background-position: -7px 0;
}

.navMenuIcon-event:hover {
    background-position: -30px 0;
}

[class*="optionIcon-"] {
    display: block;
    width: 18px;
    height: 14px;
    background-image: url("../images/postOptionIcon.png");
    background-repeat: no-repeat;
    color: transparent;
}

.optionIcon-articlePost {
    background-position: 0 0;
}

[class*="chatIcons-"] {
    display: block;
    background-image: url("../images/chatIcons.png");
    background-repeat: no-repeat;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    width: 16px;
    height: 16px;
}

.chatIcons-close {
    background-position: -230px -10px;
}

.customIcon-edit {
    background-image: url("../images/edit.png");
    background-repeat: no-repeat;
    color: transparent;
    width: 10px;
    height: 10px;
    display: inherit;
    margin-right: 3px;
}

.customIcon-editAvatar {
    background-image: url("../images/editImage.png");
    background-repeat: no-repeat;
    color: transparent;
    width: 21px;
    height: 21px;
    display: inherit;
    margin-right: 3px;
}

.leftColPopUp:hover > div.uiPreviousArrow, .leftColPopUp:hover > div.uiNextArrow {
    display: block;
}

.uiPreviousArrow {
    display: none;
    position: absolute;
    left: 10px;
    top: 50%;
}

.uiNextArrow {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
}

.uiPreviousArrow a, .uiNextArrow a {
    padding: 0;
    margin: 0;
    border: none;

}

.leftArrowPopUp {
    background-image: url("../images/prevArrow.png");
    background-repeat: no-repeat;
    color: transparent;
    width: 54px;
    height: 54px;
    display: inherit;
}

.rightArrowPopUp {
    background-image: url("../images/nextArrow.png");
    background-repeat: no-repeat;
    color: transparent;
    width: 54px;
    height: 54px;
    display: inherit;
}

.uiBoxPeopleYouMayKnow, .uiBoxFriendRequests {
    margin-right: 5px;
    border: 1px solid #E9E9E9;
    box-shadow: 3px 3px 2px #E9E9E9;
    margin-bottom: 10px;
}

.boxTitle {
    padding: 7px;
    font-size: 14px;
    font-weight: bold;
    color: #2353a5;
    border-bottom: 1px outset #e9e9e9;
    box-shadow: 0 1.5px 0 #E9E9E9;
    background: rgb(229,224,215); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(229,224,215,1) 0%, rgba(237,237,237,1) 34%, rgba(252,252,252,1) 66%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,224,215,1)), color-stop(34%,rgba(237,237,237,1)), color-stop(66%,rgba(252,252,252,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,224,215,1) 0%,rgba(237,237,237,1) 34%,rgba(252,252,252,1) 66%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,224,215,1) 0%,rgba(237,237,237,1) 34%,rgba(252,252,252,1) 66%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,224,215,1) 0%,rgba(237,237,237,1) 34%,rgba(252,252,252,1) 66%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(229,224,215,1) 0%,rgba(237,237,237,1) 34%,rgba(252,252,252,1) 66%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e0d7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.boxContent {
    padding: 7px;
    overflow: hidden;
}

.rowItemBox {
    margin-bottom: 10px;
}

.profilePicDiv img {
    width: 50px;
    height: 50px;
}

.smallPicDiv img {
    width: 40px;
    height: 40px;
}

.profileInfoDiv {
    padding-left: 5px;
    line-height: 15px;
    text-align: left;
}

.timeLineLink {
    font-weight: bold;
    font-size: 12px;
}

.uiTimeLineNav .tlProfileLink {
    font-size: 22px;
    line-height: 22px;
}

.mutualLink {
    color: #919191;
    font-size: 11px;
}
/*--CSS UI gradient button--*/
.uiSmallButton {
    display: inline-block;
    outline: none;
    cursor: pointer;
    margin: 0 2px;
    text-align: center;
    text-decoration: none;
    font: 11px/100% Arial, Helvetica, sans-serif;
    padding: .2em 1em .275em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.uiSmallButton:hover {
    text-decoration: none;
}
.uiSmallButton:active {
    position: relative;
    top: 1px;
}

.uiMediumButton {
    display: inline-block;
    outline: none;
    cursor: pointer;
    margin: 0 2px;
    text-align: center;
    text-decoration: none;
    font: 12px/100% Arial, Helvetica, sans-serif;
    padding: .4em 1.5em .42em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.uiMediumButton:hover {
    text-decoration: none;
}

.uiMediumButton:active {
    position: relative;
    top: 1px;
}

.uiLargeButton {
    display: inline-block;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.uiLargeButton:hover {
    text-decoration: none;
}

.uiLargeButton:active {
    position: relative;
    top: 1px;
}
/*--End CSS UI gradient button--*/
/*--CSS Color Gradient Styles--*/
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.blue {
    color: #d9eef7;
    background: #00adee; /* Old browsers */
    background: -moz-linear-gradient(top, #00adee 0%, #0078a5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00adee), color-stop(100%,#0078a5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00adee 0%,#0078a5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00adee 0%,#0078a5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00adee 0%,#0078a5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #00adee 0%,#0078a5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00adee', endColorstr='#0078a5',GradientType=0 ); /* IE6-9 */
}

.blue:hover {
    color: #d9eef7;
    background: #0095cc; /* Old browsers */
    background: -moz-linear-gradient(top, #0095cc 0%, #00678e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0095cc), color-stop(100%,#00678e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0095cc 0%,#00678e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0095cc 0%,#00678e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0095cc 0%,#00678e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0095cc 0%,#00678e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0095cc', endColorstr='#00678e',GradientType=0 ); /* IE6-9 */
}

.blue:active {
    color: #d9eef7;
    background: rgb(0,100,150); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,100,150,1) 20%, rgba(15,124,219,1) 72%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(0,100,150,1)), color-stop(72%,rgba(15,124,219,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,100,150,1) 20%,rgba(15,124,219,1) 72%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,100,150,1) 20%,rgba(15,124,219,1) 72%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,100,150,1) 20%,rgba(15,124,219,1) 72%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,100,150,1) 20%,rgba(15,124,219,1) 72%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006496', endColorstr='#0f7cdb',GradientType=0 ); /* IE6-9 */
}

.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.white:hover {
    color: #606060;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #dcdcdc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dcdcdc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#dcdcdc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#dcdcdc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#dcdcdc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#dcdcdc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
}

.white:active {
    color: #606060;
    background: rgb(239,239,239); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(214,214,214,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(214,214,214,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(214,214,214,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(214,214,214,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(214,214,214,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(214,214,214,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
}
/*--End CSS Color Gradient Styles--*/
.uiMainCol {
    padding: 20px 10px 0;
}

.uiMainColProfile {
    padding: 20px 10px 0 0;
}

.uiMainColTimeLine {
    padding: 0 10px;
}

.uiBoxPostAction {
    border: 1px solid #E9E9E9;
    box-shadow: 0 1.5px 0 #E9E9E9;
    /*background: rgb(229,224,215); *//* Old browsers *//*
    background: -moz-linear-gradient(top,  rgba(229,224,215,1) 0%, rgba(237,237,237,1) 34%, rgba(252,252,252,1) 66%, rgba(255,255,255,1) 100%); *//* FF3.6+ *//*
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,224,215,1)), color-stop(34%,rgba(237,237,237,1)), color-stop(66%,rgba(252,252,252,1)), color-stop(100%,rgba(255,255,255,1))); *//* Chrome,Safari4+ *//*
    background: -webkit-linear-gradient(top,  rgba(229,224,215,1) 0%,rgba(237,237,237,1) 34%,rgba(252,252,252,1) 66%,rgba(255,255,255,1) 100%); *//* Chrome10+,Safari5.1+ *//*
    background: -o-linear-gradient(top,  rgba(229,224,215,1) 0%,rgba(237,237,237,1) 34%,rgba(252,252,252,1) 66%,rgba(255,255,255,1) 100%); *//* Opera 11.10+ *//*
    background: -ms-linear-gradient(top,  rgba(229,224,215,1) 0%,rgba(237,237,237,1) 34%,rgba(252,252,252,1) 66%,rgba(255,255,255,1) 100%); *//* IE10+ *//*
    background: linear-gradient(to bottom,  rgba(229,224,215,1) 0%,rgba(237,237,237,1) 34%,rgba(252,252,252,1) 66%,rgba(255,255,255,1) 100%); *//* W3C *//*
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e0d7', endColorstr='#ffffff',GradientType=0 );*/ /* IE6-9 */
}

.uiPostTopNav {
    padding: 5px 10px 0;
}

.uiMainContainer .ink-tabs .tabs-content {
    padding-top: 1.5em;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-top: 0;
    overflow: hidden;
}

.uiMainContainer .ink-tabs .tabs-nav li.active a {
    background-color: white;
}

.uiPostArea {
    padding: 0 20px;
}

.uiPostStatusArea .ink-form fieldset {
    margin-bottom: 4px;
}

.uiPostStatusArea .uiPostOption {
    margin-bottom: 0;
}

.uiPostStatusArea textarea {
    border-radius: 0;
    border: none;
}

.uiPostStatusArea .uiBox-PopUp {
    box-shadow: none;
}

.uiPostStatusArea .ink-form .control-group .control:after {
    content: "";
    visibility: visible;
}

.uiPostOption .ink-navigation ul.menu.horizontal li a {
    padding: 0;
}

.uiPostOption .ink-navigation ul.menu.horizontal li a.uiMediumButton {
    padding: 2px 8px;
}

.uiPostOption .ink-navigation ul.menu.horizontal li.fixRightFloat, .articleActions .ink-navigation ul.menu.horizontal li.rightFix {
    float: right;
}

.uiQuickPostStatusPopUpOver .ink-form textarea.taPostStatus, .uiPostStatusArea .ink-form textarea.taPostStatus, .uiTextShare .ink-form textarea.taPostShare, .uiAlbumContainer .ink-form textarea.taDescriptionAlbum {
    box-shadow: none;
}

.uiAlbumContainer .ink-form input.titleAlbum {
    box-shadow: none;
}

.lineGapPostOption {
    padding: 0 .5em;
}

.uiBoxPostItem {
    border: 1px solid #E9E9E9;
    margin: 20px 0;
    padding: 10px 0 10px 10px;
}

.uiMoreView {
    border: 1px solid #E9E9E9;
    display: none;
}

.uiLoadingIcon {
    height: 30px;
}

.uiActorPicCol img {
    width: 50px;
    height: 50px;
}

.uiPostContent {
    padding-left: 5px;
}

.uiPostContent .postActionWrapper {
    margin-top: 10px;
    border-top: 1px solid #E4E4E4 !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.uiPostContent .postActionWrapper .viewComment{
margin: 0;
}
.uiPostContent .postActionWrapper .viewComment li{
    background-color: #eaeaea;
    padding: 5px;
    margin: 0 0 1px;
    float: left;
    width: 100%;
}
.uiPostContent .postActionWrapper .viewComment li a img{
    width: 40px;
    height: 40px;
}
.uiPostContent .postActionWrapper .viewComment li .info{
    font-size: 11px; padding-left: 5px;
}
.uiPostContent .postActionWrapper .viewComment li .info .time{
    margin-top: 5px;
}

.uiPostContent .postActionWrapper .viewComment li .info .time a{
    color: #999999;
}

.uiPostContent p.content {
    padding: 5px 0;
}

.uiPostContent .articleSelectOption{
    margin-top: 0;
}
.articleContentWrapper {
    padding: 0 0 5px;
}

.textPost {
    color: #231f20;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 13px;
    line-height: 15px;
    word-wrap: break-word;
}

.attachmentStatus {
    margin: 5px 0;
    background-color: #FAFBFB;
    padding: 10px;
    border-left: 3px solid #CCCCCC;
    border-right: 3px solid #CCCCCC;
    font-size: 12px;
}

.textComment {
    color: #231f20;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 13px;
    word-wrap: break-word;
}

.articleActions .ink-navigation ul.menu.horizontal li a {
    padding: 0;
    font-size: 11px;
}

.likeCounter, .commentCounter, .shareCounter, .followPostCounter, .betweenDot {
    float: left;
}

.gapArticleActions, .articleActions .ink-navigation ul.menu.horizontal li a.gapArticleActions {
    padding: 0 2px;
}

.articleActions li a {
    cursor: pointer;
}



.whoLikeThisPost {
    padding: 5px;
    font-size: 11px;
    background-color: #eaeaea !important;
    box-shadow: none !important;
}

.whoLikeThisPost .statusCounterIcon-like {
    margin-top: 0;
    margin-right: 5px;
}

.whoCommentThisPost .statusCounterIcon-comment {
    margin-top: 0;
    margin-right: 5px;
}

.whoShareThisPost .statusCounterIcon-share {
    margin-top: 0;
    margin-right: 3px;
}

.whoShareThisPost, .whoCommentThisPost, .eachCommentItem, .whoCommentThisPhoto {
    background-color: #eaeaea;
    padding: 5px;
    font-size: 11px;
}

.whoCommentThisPhoto .statusCounterIcon-comment {
    margin-top: 0;
    margin-right: 5px;
}

.numberComments {
    display: none;
}

.uiStreamCommentBox {
    background-color: #eaeaea;
    padding: 5px;
    font-size: 11px;
}

.uiTextCommentArea, .uiCommentContent {
    padding-left: 5px;
}

.verGapBox {
    margin-bottom: 1px;
}

.uiActorCommentPicCol img {
    width: 40px;
    height: 40px;
}

.timeLineCommentLink {
    font-weight: bold;
}

.uiCommentContent p{
    margin-bottom: 5px;
}

.uiTextCommentArea .ink-form fieldset, .uiTextCommentArea .ink-form .control-group {
    margin-bottom: 0;
}

.uiTextCommentArea .ink-form textarea.taPostComment {
    min-height: 0;
    font-size: 11px;
    padding: 2px 6px;
    box-shadow: none;
}

/* Search feature */
.loading {
    /* Image is free and loads of alternatives can be generated from ajaxload, http://ajaxload.info/! */
    background-image: url('../images/loadingIcon.gif');
    background-position: center center;
    background-repeat: no-repeat;
}

#resultsHolder {
    width: 345px;
    position: absolute;
    z-index: 1001;
    background-color: #90a967;
}

#resultsList {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#resultsList li {
    line-height: 20px;
    border-bottom: solid 1px #CCC;
    padding: 5px;
    padding-left: 10px;
    color: #333;
    cursor: pointer;
}

#resultsList li:hover {
    color: whitesmoke;
    cursor: pointer;
    background-color: #50504B;
}

#resultsList li a:hover {
    text-decoration: none;
}

#resultsList li:last-child {
    border: none;
}

#resultsList .no-results {
    text-align: center;
    font-size: 14px;
    color: white;
}

.uiPostOption, .uiSettingOptions, .uiNotifications, .uiFriendRequests, .uiMessages, .uiStatusNav {
    position: relative;
}

.uiPostOptionPopUpOver {
    display: none;
    left: -125px;
    top: 10px;
    width: 150px;
}

.uiSettingOptionPopUpOver {
    display: none;
    position: absolute !important;
    top: 35px;
    right: -5px;
    width: 150px;
}

.uiBasicInfoEditPopUpOver {
    display: none;
    position: absolute !important;
    top: 35px;
    left: -200px;
    z-index: 1;
    width: 550px;
}

.uiBasicInfoContainer .rowBoxItem {
    padding: 0 10px;
}

.uiBasicInfoContainer .birthDay {
    margin-left: 10px;
}

.uiBasicInfoContainer .ink-form select {
    padding: 0;
    font-size: inherit;
}

.uiBasicInfoContainer .leftColBox {
    font-size: 13px;
    padding: 3px 0;
}

.uiEduWorkEditPopUpOver {
    display: none;
    position: absolute !important;
    top: 35px;
    left: -280px;
    z-index: 1;
    width: 350px;
}

.uiEduWorkEditPopUpOver .rowBoxItem {
    padding: 0 15px;
    margin: 10px 0 20px;
}

.uiEduWorkEditPopUpOver .ink-form input {
    padding: 2px 4px;
    width: 100%;
    border-radius: 0;
}

#searchWork, #searchCollege, #searchHiSchool {
    box-shadow: none;
    font-size: 12px;
}

#workResults, .currentWork {
    z-index: 2;
    background-color: #90a967;
}

#workResults ul li.oldWork:hover {
    background-color: #dee0e2;
}

#workList, #currentWorkList {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#workList li {
    cursor: pointer;
    text-align: center;
}

.addJob {
    margin: 5px 0;
    padding: 5px;
    background-color: #D8DFEE;
    text-align: left;
}

.workTitle, .workCurrentTitle {
    padding-left: 5px;
}

.oldWork {
    background-color: #f6f7f8;
    color: #0069d6;
    border: 1px solid #e4e4e4;
    border-bottom: none;
    margin: 0;
    padding: 5px;
}

.actionArea {
    margin-top: 10px;
}

.uiQuickPostStatusPopUpOver {
    display: none;
    width: 300px;
    position: absolute !important;
    top: 35px;
    right: -100px;
}

.uiSettingOptionPopUpOver .ink-navigation ul.menu.vertical li a {
   border: none;
}

.uiSettingOptionPopUpOver .ink-navigation ul.menu.vertical li a:hover {
   background-color: #007ed5;
   text-decoration: none;
   color: white;
}

.uiQuickPostStatusPopUpOver textarea {
    border: none;
    box-shadow: none;
    min-height: 0;
}

.uiQuickPostStatusPopUpOver .control {
    border-bottom: 1px solid #E4E4E4;
}

.uiQuickPostStatusPopUpOver .ink-form .control-group, .ink-form fieldset {
    margin-bottom: 0;
}

.uiQuickPostStatusPopUpOver .uiPostOption {
    padding: 5px;
}

.uiQuickPostStatusPopUpOver .uiPostOption .ink-navigation ul.menu.horizontal li a {
    padding: 4px 8px;
    font-size: 12px;
}

.postStatusNavBtn {
    float: left;
    margin-right: 10px;
}

.cancelPostStatusNavBtn {
    float: left;
}

.uiFriendRequestsPopUpOver {
    display: none;
    width: 380px;
    position: absolute !important;
    top: 45px;
    right: -150px;
}

.uiMessagesPopUpOver {
    display: none;
    width: 380px;
    position: absolute !important;
    top: 45px;
    right: -150px;
}

.uiNotificationsPopUpOver {
    display: none;
    width: 380px;
    position: absolute !important;
    top: 45px;
    right: -150px;
}

.titleHeaderPopUpOver {
    padding: 7px;
    font-size: 12px;
    font-weight: bold;
    color: #2353a5;
    border-bottom: 1px outset #e9e9e9;
    box-shadow: 0 1.5px 0 #E9E9E9;
}

.actionDiv {
    padding: 10px 0;
}

.actionDiv a {
    padding: 4px 8px;
    font-size: 12px;
}

.rowItems {
    margin: 0;
    padding: 7px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
}

.rowItems:last-child {
    border-bottom: none;
}

.uiSeeAllItems {

}

.uiSeeAllItems a {
    background-color: #f7f7f7;
    border-top: 1px inset #e9e9e9;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    position: relative;
    z-index: 100;
    display: block;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    box-shadow: 0 1.5px 0 #E9E9E9;
}

.uiScrollBar {
    overflow-y: scroll;
}

.uiNotificationItems ul li:hover {
    background-color: #f4f4f4;
}

.uiCoverTimeLine {
    position: relative;
}

.uiCoverTimeLine:hover > div.editCoverTimeLine {
    display: block;
}

.editCoverTimeLine {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.editCoverTimeLine a, .editProfilePic a {
    background-color: #5574B8;
    padding: .4em .8em .42em;
    color: white;
    font-weight: bold;
}

.uiProfilePicTimeLine {
    position: relative;
}

.uiProfilePicTimeLine:hover > div.editProfilePic {
    display: block;
}

.uiProfilePic img {
    width: 50px;
    height: 50px;
}

.profilePic {
    position: absolute;
    top: -40px;
    left: 15px;
    border: 1px solid #e4e4e4;
    padding: 2px;
    background-color: white;
}

.editProfilePic {
    display: none;
    position: absolute;
    top: 75px;
    left: 55px;
}

.uiProfilePicTimeLine .profilePic img {
    width: 150px;
    height: 150px;
}

.uiProfileInfoTimeLine {
    height: 120px;
    border: 1px solid #e4e4e4;
    margin-top: 4px;
    background-color: #f6f7f8;
}

.viewBox {
    margin-top: 4px;
    padding-left: 10px;
}

.friendsBox, .photosBox, .groupsBox {
    float: left;
    margin-right: 10px;
}

.uiImageBox {
    border: 1px solid #e4e4e4;
    background-color: white;
    padding: 2px 0 0px 2px;
}

.firstRow div {
    padding-right: 1px;
}

.uiTargetBox {
    margin-top: 2px;
    text-align: center;
}

.timeLineMenuNav {
    border: 1px solid #e4e4e4;
    background-color: #f6f7f8;
}

.uiTimeLineHeadLine {
    margin-left: 180px;
}

.timeLineMenuNav .ink-navigation ul.menu.horizontal li a {
    font-size: 14px;
}

.timeLineMenuNav .ink-navigation ul.menu.horizontal li {
    border-right: 1px solid #e4e4e4;
}

.timeLineMenuNav .ink-navigation ul.menu.horizontal li:first-child {
    border-left: 1px solid #e4e4e4;
}

.timeLineMenuNav .ink-navigation ul.menu.horizontal li:hover {
    background-color: white;
}

.timeLineMenuNav .ink-navigation ul.menu.horizontal li a:hover {
    text-decoration: none;
}

.uiProfileInfoTimeLine .profileInfoDiv {
    padding: 10px 0 20px 180px;
}

.profileName {
    margin-bottom: 10px;
}

.uiImageBox img {
    width: 40px;
    height: 40px;
}

.uiMainColAbout {
    margin-top: 10px;
}

.uiBoxTitle {
    background-color: #f6f7f8;
    font-size: 14px;
    border: 1px solid #e4e4e4;
}

.leftAboutCol {
    padding: 5px 5px 5px 0;
}

.rightAboutCol {
    padding: 5px 0 5px 5px;
}

.uiAboutBoxItem {
    background-color: #f6f7f8;
    border: 1px solid #e4e4e4;
    margin-bottom: 5px;
}

.boxItemTitle {
    padding: 5px;
    border-bottom: 1px solid #e4e4e4;
}

.boxItemBody {
    padding: 10px 10px;
}

.rowBoxItem {
    margin: 10px 0;
}

.rightColBox p {
    margin-bottom: 5px;
}

.leftColBox, .rightColBox {
    word-wrap: break-word;
}

.rightColBox ul.uiRadioGender, .rightColBox .uiSelectRelation {
    margin-left: 20px;
}

.rightColBox ul.uiRadioGender li {
    margin-right: 20px;
}

.leftBoxTitle {
    padding: 2px 5px;
    font-size: 13px;
}

.rightBoxTitle {
    position: relative;
}

.rightBoxTitle a {
    padding: .4em .5em .42em;
}

.rightBoxTitle a:hover {
    color: white;
}

.uiRightPhotoTab {
    padding: 2px 0;
}

.uiPhotoWrapper .uiPhotoContainer {
    margin-top: 10px;
    box-shadow: none;
    min-height: 300px;
}

.uiPhotoActionsBox {
    margin: 10px;
}

.uiPostPhotoArea .uiPhotoActionsBox {
    height: 65px;
    margin: 0 0 10px;
    box-shadow: none;
    padding: 5px;
}

.uiUploadPhotoBox:hover, .uiCreateAlbumBox:hover {
    background-color: #DEE4F0;
}

.uiUploadPhotoBox, .uiCreateAlbumBox {
    padding: 20px;
    font-size: 14px;
    cursor: pointer;
}

.uiPinLayoutPhotoWrapper {
    padding: 10px;
}

.uiPhotoPinCol {
    position:relative;
}

.pinItems {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 10px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.photoItems {
    cursor: pointer;
}

.photoItems img {
    width: 100%;
}

.pinItems p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}

/*.uiPhotoPinCol:hover .pinItems:not(:hover) {
    opacity: 0.4;
}*/

.photoDescription {
    padding: 5px 0;
}

.photoDescription span {
    font-size: 13px;
    line-height: 14px;
}

.photoSelectOptions {
    padding: 6px 0 0 0;
    border-top: 1px solid #ccc;
    margin-bottom: 6px;
}

.albumDescription {
    padding: 6px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 6px;
}

.albumDescription a {
    font-size: 13px;
    font-weight: bold;
}

.photoSelectOptions .ink-navigation ul.menu.horizontal li a {
    padding: 0;
}

.albumItems {

}

.firstPhoto {
    width: 200px;
    height: 150px;
    box-shadow: 0px 1px 1px rgba(34, 25, 25, 0.4);
}

.secondPhoto {
    z-index: 3;
    position:absolute;
    top: 10px;
    left: 10px;
    width: 190px;
    height: 150px;
    box-shadow: 0px 1px 2px rgba(34, 25, 25, 0.4);
}
/*--CSS footer--*/
#footerWrapper {
    width:100%;
    background-color: white;
}

.uiRelatedInfo {
    padding-top: 20px;
    padding-bottom: 20px;
}

.lineSpace {
    padding: 0.7em 0;
}

.lineGap {
    padding: 1em 0;
}

.uiCopyRightDiv {
    padding: 10px 16px;
}
/*--End CSS footer--*/
/*--CSS Box arrow--*/
.uiBox-PopUp {
    background-color: #fff;
    /*width: 100%;
    height: 100%;*/
    position: relative;
    border: 1px solid #E4E4E4;
    box-shadow: 2px 2px 2px #ECECEC;
}

.uiBox-PopUp:after {
    border: solid transparent;
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
}

.uiBox-PopUp:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
}

.bottomCenterArrow:after {
    border-width: 10px;
    border-top-color: #fff;
    top: 100%;
    left: 50%;
    margin-left: -10px;
}

.bottomCenterArrow:before {
    border-width: 11px;
    border-top-color: #E4E4E4;
    top: 100%;
    left: 39%;
}

.rightTopArrow:after {
    border-width: 10px;
    border-left-color: #fff;
    top: 14px;
    left: 100%;
}

.rightTopArrow:before {
    border-width: 12px;
    border-left-color: #E4E4E4;
    top: 12px;
    left: 100%;
}

.topRightArrow:after {
    border-width: 10px;
    border-bottom-color: #fff;
    top: -20px;
    right: 5%;
}

.topRightArrow:before {
    border-width: 11px;
    border-bottom-color: #E4E4E4;
    top: -23px;
    right: 4%;
}

.basicInfoArrow:after {
    border-width: 10px;
    border-bottom-color: #fff;
    top: -20px;
    right: 53.2%;
}

.basicInfoArrow:before {
    border-width: 11px;
    border-bottom-color: #E4E4E4;
    top: -23px;
    right: 53%;
}

.eduWorkArrow:after {
    border-width: 10px;
    border-bottom-color: #fff;
    top: -20px;
    right: 3.2%;
}

.eduWorkArrow:before {
    border-width: 11px;
    border-bottom-color: #E4E4E4;
    top: -23px;
    right: 3%;
}

.topRightCenterArrow:after {
    border-width: 10px;
    border-bottom-color: #fff;
    top: -20px;
    right: 41.5%;
}

.topRightCenterArrow:before {
    border-width: 11px;
    border-bottom-color: #E4E4E4;
    top: -23px;
    right: 41%;
}

.topLeftArrow:after {
    border-width: 10px;
    border-bottom-color: #FFFFFF;
    top: -20px;
    left: 5.2%;
}

.topLeftArrow:before {
    border-width: 11px;
    border-bottom-color: #E4E4E4;
    top: -23px;
    left: 5%;
}

.photoBoxArrow:after {
    border-width: 10px;
    border-bottom-color: #FFFFFF;
    top: -20px;
    left: 20.2%;
}

.photoBoxArrow:before {
    border-width: 11px;
    border-bottom-color: #E4E4E4;
    top: -23px;
    left: 20%;
}

.boxLikeTopLeftArrow:after {
    border-width: 7px;
    border-bottom-color: #eaeaea;
    top: -14px;
    left: 1.2%;
}

.boxLikeTopLeftArrow:before {
    border-width: 8px;
    border-bottom-color: #E4E4E4;
    top: -17px;
    left: 1%;
}
/*--End CSS Box arrow--*/
/*--CSS UI Box - PopUp Arrow--*/
.yourPhotoBoxArrow:after {
    border-width: 10px;
    border-bottom-color: #fff;
    top: -20px;
    right: 28.2%;
}

.yourPhotoBoxArrow:before {
    border-width: 11px;
    border-bottom-color: #E4E4E4;
    top: -23px;
    right: 28%;
}

.albumBoxArrow:after {
    border-width: 10px;
    border-bottom-color: #fff;
    top: -20px;
    right: 16.2%;
}

.albumBoxArrow:before {
    border-width: 11px;
    border-bottom-color: #E4E4E4;
    top: -23px;
    right: 16%;
}
/*photo mod temp*/
#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #7c7c7c;
    z-index:1;
    -moz-opacity: 0.2;
    opacity:.20;
    filter: alpha(opacity=20);
}

#fadePhoto {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #7c7c7c;
    z-index:1;
    -moz-opacity: 0.2;
    opacity:.6;
    filter: alpha(opacity=20);
}


.uiLightUpload {
    width: 800px;
    min-height: 100px;
}

.uiCreateAlbum {
    width: 400px;
    min-height: 100px;
}

.containerPhotoPopUp {
    padding: 20px;
}

.actionUpload {
    overflow: hidden;
}

.photoActionBtn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.qualityOption {
    float: left;
    padding: 20px;
}

.actionUploadBtn {
    color:#dadce3;
    text-align:left;
    vertical-align:middle;
    padding:10px 10px 0 10px;
    float: right;
}

.actionFileUpload {
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
    font-weight:bold;
    padding:15px 20px;
    cursor:pointer;
    line-height:20px;
    margin:0 10px 10px 0;
    display:inline-block;
    background:#fff;
    border:1px solid #e8e8e8;
    color:#888;
    text-decoration:none;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -moz-box-shadow:0 2px 0 0 #e8e8e8;
    -webkit-box-shadow:0 2px 0 0 #e8e8e8;
    box-shadow:0 2px 0 0 #e8e8e8;
    padding:6px 10px 4px 10px;
    color:#fff;
    background:#2f8ab9;
    border:0;
    -moz-box-shadow:0 2px 0 0 #13648d;
    -webkit-box-shadow:0 2px 0 0 #13648d;
    box-shadow:0 2px 0 0 #13648d;
}

#displayPhotos {
    padding: 20px 0px;
    overflow: hidden;
}

.photoWrap {
    float: left;
    padding: 0px 10px 10px;
}

.loadedPhoto {

}

.loadedPhoto img {
    max-width: 280px;
}

.writeSomething {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #ddd;
}

.writeSomething textarea {
    border: none;
    resize: none;
    width: 100%;
    padding: 0;
    height: 100%;
}

.ajax-file-upload-statusbar{border:1px solid #0ba1b5;margin-top:10px;width:400px;margin-right:10px;margin:5px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;padding:5px 5px 5px 5px}.ajax-file-upload-filename{width:100%;height:auto;margin:0 5px 5px 10px;color:#807579}.ajax-file-upload-progress{margin:0 10px 5px 10px;position:relative;width:250px;border:1px solid #ddd;padding:1px;border-radius:3px;display:inline-block}.ajax-file-upload-bar{background-color:#0ba1b5;width:0;height:20px;border-radius:3px}.ajax-file-upload-percent{position:absolute;display:inline-block;top:3px;left:48%}.ajax-file-upload-red{-moz-box-shadow:inset 0 39px 0 -24px #e67a73;-webkit-box-shadow:inset 0 39px 0 -24px #e67a73;box-shadow:inset 0 39px 0 -24px #e67a73;background-color:#e4685d;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;display:inline-block;color:#fff;font-family:arial;font-size:13px;font-weight:normal;padding:4px 15px;text-decoration:none;text-shadow:0 1px 0 #b23e35;cursor:pointer;vertical-align:top}.ajax-file-upload-green{background-color:#77b55a;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin:0;padding:0;display:inline-block;color:#fff;font-family:arial;font-size:13px;font-weight:normal;padding:4px 15px;text-decoration:none;cursor:pointer;text-shadow:0 1px 0 #5b8a3c;vertical-align:top}.ajax-file-upload{font-family:Arial,Helvetica,sans-serif;font-size:16px;font-weight:bold;padding:15px 20px;cursor:pointer;line-height:20px;margin:0 10px 10px 0;display:inline-block;background:#fff;border:1px solid #e8e8e8;color:#888;text-decoration:none;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-moz-box-shadow:0 2px 0 0 #e8e8e8;-webkit-box-shadow:0 2px 0 0 #e8e8e8;box-shadow:0 2px 0 0 #e8e8e8;padding:6px 10px 4px 10px;color:#fff;background:#2f8ab9;border:0;-moz-box-shadow:0 2px 0 0 #13648d;-webkit-box-shadow:0 2px 0 0 #13648d;box-shadow:0 2px 0 0 #13648d}.ajax-file-upload:hover{background:#3396c9;-moz-box-shadow:0 2px 0 0 #15719f;-webkit-box-shadow:0 2px 0 0 #15719f;box-shadow:0 2px 0 0 #15719f}.ajax-upload-dragdrop{border:2px dotted #a5a5c7;width:400px;color:#dadce3;text-align:left;vertical-align:middle;padding:10px 10px 0 10px}

.white_content {
    display: none;
    position: absolute;
    top: 5%;
    left: 35%;
    border-radius: 5px;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

.create-album-container {
    overflow: hidden;
}

.headerLightBox {
    background:#90A967;
    line-height: 28px;
    padding-left: 5px;
    color: white;
    font-weight: bold;
}

.contentLightBox {
    margin: 20px;
    width:350px;
    overflow: hidden;
}

.titleAlbum {
    margin-bottom: 10px;
    width: 200px;
    border: 1px solid #799456;
}

.msgCheckAlbum {
    background-color: #72737f;
    width: 190px;
    padding: 7px 5px;
}

.msgErrorAlbum {
    color: whitesmoke;
}

.closeMsgErrorAlbum {
    float: right;
    position: relative;
    top: -20px;
    right: -10px;
    font-weight: bold;
    font-size: 12px;
    color: #9b3b68;
}

.descriptionAlbum {
    min-width: 190px;
    min-height: 90px;
    margin-bottom: 5px;
}

.footerLightBox {
    border-top: 1px solid #d9d9d9;
    padding: 5px;
}

.uiPhotoView {
    overflow: hidden;
}


.leftColPopUp {
    background-color: #000;
    height: 100%;
    float: left;
    min-height: 480px;
    position: relative;
}

.containerPhoto {
    /*height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
    display: block;*/
}

.leftColPopUp .containerPhoto .photo-selected {
    display: block;
}

.leftColPopUp .containerPhoto .photo-unselected {
    display: none;
}

.containerPhoto img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    text-align: center;
}

.rightColPopUp {
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
    vertical-align: middle;
    min-height: 480px;
    padding: 10px;
    max-width: 250px;
}

.invisiblePhotoWrap {
    display: none;
}

.visiblePhotoWrap {
    display: block;
}

.viewPhotoInfo .actorNamePhotoInfo {
    padding: 5px 0;
}

.uiClosePhotoPopUp {
    float: right;
    cursor: pointer;
}
/*End Temp*/
.uiPopUp {
    display: none;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    z-index: 1;
}

.uiShare {
    width: 400px;
    min-height: 100px;
}

.titlePopUp {
    color: white;
    padding: 10px;
    font-size: 15px;
    background: rgb(0,91,159); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,91,159,1) 0%, rgba(13,132,199,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,91,159,1)), color-stop(100%,rgba(13,132,199,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,91,159,1) 0%,rgba(13,132,199,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,91,159,1) 0%,rgba(13,132,199,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,91,159,1) 0%,rgba(13,132,199,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,91,159,1) 0%,rgba(13,132,199,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005b9f', endColorstr='#0d84c7',GradientType=0 ); /* IE6-9 */
}

.mainPopUp {
    padding: 10px;
    background-color: #ffffff;
}

.actionPopUp {
    padding: 5px;
    background-color: #f2f2f2;
}

.shareFor {
    padding-bottom: 10px;
}

.shareIcon {
    font-weight: bold;
    color: rgb(0,91,159);
}

.textContainer {
    padding-left: 10px;
}

.shareStage {
    font-size: 13px;
    font-weight: bold;
}

.tagFrom {
    font-size: 11px;
}

.tag {
    color: rgb(0,91,159);
}

.successNotification {
    font-size: 13px;
}

.uiAlbumContainer {
    padding: 0 20px;
}

.uiAlbumAlerts {
}

.uiCreateDB {
    background-color: #ffffff;
    padding: 30px 100px;
}

/*CUSTOM DROP-DOWN LIST STYLING*/
.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    margin: 0 auto;
    padding: 5px 0;

    /* Styles */
    background: #fff;
    /*border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);*/
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;
}

.wrapper-dropdown-3 span {
    margin-right: 35px;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}

.wrapper-dropdown-3 .dropdown {
    /* Size & position */
    position: absolute;
    top: 120%;
    left: -20%;
    right: 0;
    width: 100px;
    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    z-index: 2;
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li {
    margin: 0;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
    text-align: left;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
    margin-left: 5px;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;
}

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
/*End Style */