
/*[class^="icon30-"], [class*=" icon30-"] {
    display: inline-block;
    width: 30px;
    height:30px;
    *margin-right: .3em;
    line-height: 11px;
    vertical-align: text-top;
    background-image: url("../images/icon/icon30.png");
    background-position: 0;
    background-repeat: no-repeat;
    z-index:9999;
}*/
[class^="icon20-"], [class*=" icon20-"] {
    display: inline-block;
    width: 20px;
    height:20px;
    margin-right: .3em;
    line-height: 20px;
    vertical-align: text-top;
    background-image: url("../images/icon/icon.png");
    background-position: 0;
    background-repeat: no-repeat;
}
.icon20-home{
    background-position: -14px -15px;
}
.icon20-setting{
    background-position: -40px -15px;
}
.icon20-cong{
    background-position: -64px -15px;
}
.icon20-friend{
    background-position: -88px -15px;
}
.icon20-privacy{
    background-position: -112px -15px;
}
.icon20-message{
    background-position: -136px -15px;
}
[class^="icon16-"], [class*="icon16-"] {
    display: inline-block;
    width: 17px;
    height:16px;
    margin-right: .3em;
    margin-top: 3px;
    line-height: 16px;
    vertical-align: text-top;
    background-image: url("../images/icon/icon.png");
    background-position: 0;
    background-repeat: no-repeat;
}
.icon16-feed{
    background-position: -15px -48px;
}
.icon16-message{
    background-position: -39px -48px;
}
.icon16-group{
    background-position: -63px -48px;
}
.icon35-active {
    background-image: url("../images/icon/icon35-active.png");
}

[class^="icon30-"], [class*="icon30-"] {
    display: inline-block;
    width:24px;
    height:22px;
    background-image: url("../images/icon/icon30.png");
    background-position: 0;
    background-repeat: no-repeat;
    color: transparent;
    vertical-align: text-top;
}
.icon30-home{
    background-position: 0 0;
}
.icon30-status {
    background-position: 0 -154px;
}
.icon30-photo {
    background-position: -160px -154px;
}
.icon30-upload {
    background-position: -160px -104px;
}
.icon30-attachment {
    background-position: -264px -208px;
}
.icon30-location {
    background-position: -212px -50px;
}
.icon30-newFeed{
    background-position: -475px -104px;
}
.icon30-message {
    background-position: -52px 0;
}
.icon30-group {
    background-position: 0 -105px;
}
.icon30-event {
    background-position: -160px -313px;
}
.icon30-index {
    background-position: -478px -210px;
}
.icon30-close {
    background-position: -377px -160px;
    width: 12px;
    height: 12px;
}
.icon30-options {
    background-position: 0 -50px;
    width: 18px;
    height: 14px;
}

[class*="topNavIcon1-"] {
    display: block;
    height: 32px;
    width: 37px;
    background-image: url("../images/topNavIcons-1.png");
    background-repeat: no-repeat;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
}

.topNavIcon1-logo {
    background-position: 0 0;
    width: 165px;
}

.topNavIcon1-home {
    background-position: -190px 0;
}

/*.topNavIcon1-home:hover {
    background-position: -241px 0;
}*/

.topNavIcon1-requestFriends {
    background-position: -290px 0;
}

/*.topNavIcon1-requestFriends:hover {
    background-position: -345.5px 0;
}*/

.topNavIcon1-messages {
    background-position: -395px 0;
}

/*.topNavIcon1-messages:hover {
    background-position: -449px 0;
}*/

.topNavIcon1-notifications {
    background-position: -495px 0;
}

/*.topNavIcon1-notifications:hover {
    background-position: -544px 0;
}*/

[class*="topNavIcon2-"] {
    display: block;
    height: 28px;
    background-image: url("../images/topNavIcons-2.png");
    background-repeat: no-repeat;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
}

.topNavIcon2-search {
    background-position: 0 0;
}

.topNavIcon2-quickWriteStatus {
    background-position: -70px 0;
}

.topNavIcon2-quickWriteStatus:hover {
    background-position: -36px 0;
}
.topNavIcon2-settingGroup {
    background-position: -135px 0;
}
.topNavIcon2-settingOptions {
    background-position: -135px 0;
}

.topNavIcon2-settingOptions:hover {
    background-position: -105px 0;
}

[class*="statusCounterIcon-"] {
    display: block;
    height: 10px;
    background-image: url("../images/statusCounterIcons.png");
    background-repeat: no-repeat;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    width: 16px;
}

.statusCounterIcon-like {
    background-position: -2px 0;
    float: left;
    margin-top: 3px;
}

.statusCounterIcon-comment {
    background-position: -42px 0;
    float: left;
    margin-top: 3px;
}

.statusCounterIcon-share {
    background-position: -85px 0;
    float: left;
    margin-top: 3px;
    width: 18px;
}

.statusCounterIcon-followPost {
    background-position: -130px 0;
    float: left;
    margin-top: 3px;
}

[class*="photoNavIcon-"] {
    display: block;
    height: 21px;
    background-image: url("../images/photoNavIcons.png");
    background-repeat: no-repeat;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    width: 28px;
}

.photoNavIcon-like {
    float: left;
    background-position: 0 0;
    margin-right: 3px;
}

.photoNavIcon-unlike {
    float: left;
    background-position: -35px 0;
    margin-right: 3px;
}

.photoNavIcon-like:hover {
    background-position: -35px 0;
}

.photoNavIcon-comment {
    float: left;
    background-position: -67px 0;
    margin-right: 3px;
}

.photoNavIcon-comment:hover {
    background-position: -102px 0;
}

.photoNavIcon-share {
    float: left;
    background-position: -205px 0;
    margin-right: 3px;
}

.photoNavIcon-share:hover {
    background-position: -237px 0;
}

[class*="navMenuIcon-"] {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../images/menuNavIcons.png");
    background-repeat: no-repeat;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
}

.navMenuIcon-newFeed {
    background-position: -51px 0;
}

.navMenuIcon-newFeed:hover {
    background-position: -71px 0;
}

.navMenuIcon-messages {
    background-position: -92px 0;
    width: 27px;
    margin-left: -4px;
}

.navMenuIcon-messages:hover {
    background-position: -124px 0;
    width: 27px;
    margin-left: -4px;
}

.navMenuIcon-group {
    background-position: -155px 0;
    width: 28px;
    margin-left: -4px;
}

.navMenuIcon-group:hover {
    background-position: -181px 0;
    width: 28px;
    margin-left: -4px;
}

.navMenuIcon-event {
    background-position: -7px 0;
}

.navMenuIcon-event:hover {
    background-position: -30px 0;
}

[class*="optionIcon-"] {
    display: block;
    width: 18px;
    height: 14px;
    background-image: url("../images/postOptionIcon.png");
    background-repeat: no-repeat;
    color: transparent;
}

.optionIcon-articlePost {
    background-position: 0 0;
}

[class*="chatIcons-"] {
    display: block;
    background-image: url("../images/chatIcons.png");
    background-repeat: no-repeat;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    width: 16px;
    height: 16px;
}

.chatIcons-close {
    background-position: -230px -10px;
}

.customIcon-edit {
    background-image: url("../images/edit.png");
    background-repeat: no-repeat;
    color: transparent;
    width: 10px;
    height: 10px;
    display: inherit;
    margin-right: 3px;
}

.customIcon-editAvatar {
    background-image: url("../images/editImage.png");
    background-repeat: no-repeat;
    color: transparent;
    width: 21px;
    height: 21px;
    display: inherit;
    margin-right: 3px;
}

[class^="icon12-"], [class*=" icon12-"] {
    content: "";
    position: relative;
    top: 1px;
    float:left;
    width: 12px;
    height: 12px;
    background: url(../images/gh-icons.png) 0 99px no-repeat;
    margin-bottom: 2px;
}
.icon12-settings:before { background-position: 0 -120px; }
.icon12-settings:hover:before,
.icon12-settings:focus:before,
.icon12-settings:active:before { background-position: -12px -120px; }
.nextPhoto {
    background-image: url("../images/nextArrow.png");
    background-repeat: no-repeat;
    color: transparent;
    width: 54px;
    height: 54px;
    display: inherit;
}
.prevPhoto {
    background-image: url("../images/prevArrow.png");
    background-repeat: no-repeat;
    color: transparent;
    width: 54px;
    height: 54px;
    display: inherit;
}
[class^="icon16-"], [class*=" icon16-"] {
    display: inline-block;
    width: 16px;
    height:16px;
    margin-right: .3em;
    line-height: 16px;
    vertical-align: text-top;
    background-image: url("../images/icon/icon.png");
    background-position: 0;
    background-repeat: no-repeat;
}

.icon16-closepopup{
    background-position: -57px -80px;
}
[class^="icon40-"], [class*=" icon40-"] {
    display: inline-block;
    width: 36px;
    height:70px;
    margin-right: .3em;
    line-height: 20px;
    vertical-align: text-top;
    background-image: url("../images/icon/icon.png");
    background-position: 0;
    background-repeat: no-repeat;
}

.icon40-pev{
    background-position: -9px -113px;
}
.icon40-next{
    background-position: -47px -114px;
}