
.BoxUpload {
    padding: 3px;
    overflow: hidden;
    font-size: 13px;
    margin-top: 5px;;
}

.uploadPhoto {
    float: left;
    background: url('../images/uploadPhotoBtn.png') no-repeat;
    width: 99px;
    height: 23px;
    cursor: pointer;
    margin-right: 5px;
}
.ContainerUpload{
    border: solid 1px #ccc;
}

.wrapperTitlePhoto{
    border-bottom: solid 1px #ccc;
    float: left;
    width:100%;
    background: transparent url('../images/greenbar.png');

}
.photosTitle{
    float: left;
    margin-right: 243px;
    font-weight: bold;
    margin-left: 10px;
}
.iconPhoto{
    width:24px;
    height: 24px;
    float: left;
    background: url('../images/photo.png') no-repeat;
}

.photosTitle a{
    float: left;
    line-height: 23px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 17px;
    color: #422f21;
}

.linkPhoto{
    float: left;
    display:inline-block;
    height:17px;
    margin-top:6px;
}

.linkPhoto a{
    height:31px;
    line-height:10px;
    font-size:12px;
    font-weight:bold;
    color: #422f21;
    text-decoration:none;
}

.linkPhoto a:hover{
    color:#5a7a35;
}

#navAlbums a , #navPhotos a , #navPhotoOfYour a{
    margin-left:10px;
    padding-right:10px;
}

.uploadPhoto:hover {
    background-color: #ECF3E2;
}

.uploadPhotoBtn {
    opacity: 0;
    position: absolute;
    width: 99px;
    height: 23px;
    cursor: pointer;
}

.uploadAlbum {
    float: right;
    background: url('../images/createAlbumBtn.png') no-repeat;
    width: 99px;
    height: 23px;
    cursor: pointer;
}

.uploadAlbum:hover {
    background-color: #ECF3E2;
}

.white_content {
    display: none;
    position: absolute;
    top: 5%;
    left: 35%;
    border-radius: 5px;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

.create-album-container {
    overflow: hidden;
}

.headerLightBox {
    background:#90A967;
    line-height: 28px;
    padding-left: 5px;
    color: white;
    font-weight: bold;
}

.contentLightBox {
    margin: 20px;
    width:350px;
    overflow: hidden;
}

.titleAlbum {
    margin-bottom: 10px;
    width: 200px;
    border: 1px solid #799456;
}

.msgCheckAlbum {
    background-color: #72737f;
    width: 190px;
    padding: 7px 5px;
}

.msgErrorAlbum {
    color: whitesmoke;
}

.closeMsgErrorAlbum {
    float: right;
    position: relative;
    top: -20px;
    right: -10px;
    font-weight: bold;
    font-size: 12px;
    color: #9b3b68;
}

.descriptionAlbum {
    min-width: 190px;
    min-height: 90px;
    margin-bottom: 5px;
}

.footerLightBox {
    border-top: 1px solid #d9d9d9;
    padding: 5px;
}

.createAlbumButton, .uploadAvatar {
    border: none;
    color: whitesmoke;
    cursor: pointer;
    background-color: #90A967;
    line-height: 20px;
    font-weight: bold;
}

#closeLightBox {
    background-color: #D9DFE0;
    color: #3d3d3d;
    padding: 3px 5px;
    font-weight: bold;
    line-height: 20px;
    border-top: 2px solid #D9DFE0;
}

.black_overlay{
    display: none;
    position: absolute;
    top: -5000px;
    left: -5000px;
    width: 10000px;
    height: 10000px;
    background-color: #2C2828;
    z-index:1001;
    -moz-opacity: 0.4;
    opacity:.40;
    filter: alpha(opacity=40);
}

.photo-wrapper {
    margin-bottom: 30px;
    float: left;
    min-width: 550px;
}
.album-wrapper {
    margin-bottom: 30px;
    float: left;
    min-width: 550px;
}
.album{
    width: 150px;
    height: 110px;
    padding-top: 5px;
    padding-left: 2px;
}
.photos_albums{
    float: left;
    margin: 10px;
}


.photo-entry {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    float: left;
    display: block;
    overflow: visible;
    width: 176px;
    height: 150px;
}

.photo-entry a {
    text-decoration: none;
}

.pt-album-wrapper {
    border: solid 1px #ccc;
    width: 150px;
    height: 138px;
    padding: 5px;
    z-index: 1;
    background-color: #FFF;
}

.pt {
    border: solid 1px #ccc;
    width: 160px;
    height: 149px;
}

.ab{
    border: solid 1px #ccc;
    width: 99%;
    height: 149px;
}

.createAlbum{
    float: right;
}

.pt-photo-wrapper {
    width: 173px;
    z-index: 1;
    background-color: #FFF;
    position: relative;
}

.photo-title {
    color: #1078b4;
    text-align: center;
    margin-top: 18px;
}

.desAlbum{
    text-align: center;
}

.photo-description{
    text-align: center;
}

#pagingPhotos{
    float: left;
    text-align: right;
    font-size: 11px;
    font-weight: bold;
    margin-left: 217px;
    padding: 20px;
}

.pre a, .next a {
    text-decoration:none;
    color:#808085;
}

.pre a:hover, .next a:hover{
    color: #90A967;
}

.backBtn {
    float: right;
    cursor: pointer;
}
/****************View Photo***************/

#containerViewPhoto #headderVP .nextPrevious .next {
    margin-right: 10px;
}

#containerViewPhoto #headderVP .nextPrevious {
    float: left;
    font-size: 72px;
    display: none;
    margin-left: 10px;

}

#containerViewPhoto #headderVP .nextPrevious a:hover {
    text-decoration: none;
}

#next-photo{
    position: absolute;
    left: 474px;
    top: 0%;
}

#containerViewPhoto #images-container{
    min-height: 12em;
    display: table-cell;
    vertical-align: middle;
    float: left;
    height: 500px;
    margin: 10px;
    width: 500px;
    position: relative;
    background: #000000;
}
#containerViewPhoto #images-container img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#containerViewPhoto #images-container .photo-selected{
    display: block;
    max-height: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    max-width: 490px;
}

#containerViewPhoto #images-container .photo-unselected{
    width:100%;
    height: 90%;
    margin: 10px auto;
    display: none;
}

.photo-control:hover {
    cursor: pointer;
}

.rowInfoPhoto {
    float: left;
    width: 418px;
    margin: 20px 0px;
}

.dtDescription {
    font-size: 10pt;
    line-height: 1.38;
    margin-top: 5px;
}

.BoxDescription {
    padding: 5px;
}

.contentDescription {
    width: 98%;
    height: 40px;
    margin-bottom: 5px;
}

.saveDescription {
    cursor: pointer;
    background-color: #88A861;
    color: #ffffff;
    border: none;
}

.cancelDescription {
    cursor: pointer;
    background-color: #88A861;
    color: #ffffff;
    border: none;
    padding: 2px;
}

.bottomWrapper .swMsgControl li{
    float:left;
}

.bottomWrapper .swMsgControl .link{
    font-size:9.15px;
    font-weight:bold;
    margin-right:3px;
    margin-top: 2px;
}

.bottomWrapper .swMsgControl .link a,.bottomWrapper .swMsgControl .link a:hover{
    color:#1078b4;
    text-decoration:none;
    font-weight: bold;
}

.swMsgControl{
    float: right;
}

.swMsgControl .link {
    line-height: 15px;
}

.comment-wrapper {
    margin-top: 10px;
}

.viewMoreComments {
    margin: 1px 50px;
    font-weight: bold;
    background:#e9fbd3;
    color: #666;
    padding: 6px;
}
.viewMoreComments:hover {
    text-decoration: underline;
    cursor: pointer;
}

.swCommentPosted{
    padding: 5px;
    z-index:999;
    float: left;
    position:relative;
    background:#E5EDD9;
}

.swCommentPosted a{
    color:#1078b4;
    font-weight:bold;
    margin-left:5px;
    margin-top: 2px;

}

#commentImagePost{
    border-top: 1px solid white;
}

.view-more-comments {
margin: 1px 50px;
    font-weight: bold;
    background:#e9fbd3;
    color: #666;
    padding: 6px;
}
.view-more-comments:hover {
text-decoration: underline;
    cursor: pointer;
}

.swCommentPosted div.swImg{
    float:left;
    margin-right: 5px;
}

.checkAppendTo{
    color: #90a967;
    font-size: 16px;
}

img.swCommentImg {
    margin-top: -1px;
}

.swCommentPosted .swCommentImg{
    float:left;
    width:25px;
    height:25px;
}

.userComment {
    font-size: 12px;
}

.swPostedCommment{
    text-align:justify;
    width: 400px;
    color:#666;
    line-height: 1.38;
    word-wrap: break-word;
    font-size: 12px;
}

label.swPostedCommment {
    margin-left: 3px;
}

.swCommentPosted .swTimeComment{
    margin-left:5px;
    font-size:8.5px;
    color:#88A861;
    margin-top: 2px;
}

.swTimeComment {
    color:#88A861;
}

.swCommentBoxphoto .swBoxCommmentphoto{
    margin-left:5px;
    width:330px;
    overflow:hidden;
    resize:none;
    word-wrap: break-word;
    float: left;
}



#olderPostBtn

{
    float: left;
    width: 100%;
    margin-top: 20px;
}


.swCommentBoxphoto .swSubmitCommentphoto {
    font-size:8.5px;
    border:1px solid #90a967;
    margin-top:5px;
    margin-bottom:5px;
    margin-left: 10px;
    cursor:pointer;
    float: left;
}

.swCommentBoxphoto{
    float: left;
    margin: 1px 50px;
    z-index:999;
    position:relative;
    background:#e9fbd3;
    display:none;
    padding: 5px;
    width: 440px;
}

.swCommentBoxphoto div.swImg{
    float:left;
}

.swCommentBoxphoto div{
    display:table-cell;
    height:100%;
}

.swCommentBoxphoto form{
    display:table-cell;
    height:100%;
}


.swCommentBoxphoto .swCommentImg{
    float:left;
    width:25px;
    height:25px;
}

.swCommentPosted div{
    display:table-cell;
}

.swCommentPosted div label{
    display:block;
    position:relative;
}

#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #7c7c7c;
    z-index:1001;
    -moz-opacity: 0.2;
    opacity:.70;
    filter: alpha(opacity=20);
}

#light{
    display: none;
    position: absolute;
    width: 900px;
    height: 600px;
    margin-left: -182px;
    margin-top: -117px;
    padding: 10px;
    border: 2px solid #FFF;
    background: #ffffff;
    z-index:1002;
    overflow:visible;
}

.closePopup{
    position: absolute;
    top:50%;
    left:50%;
    color: red;
}

#fileupload {
    padding: 20px;
}

.fileupload-buttons{
    text-align: center;
}

.chooseFile{
    width:80px;
    margin-left: -84px;
    opacity: 0;
}

.addFiles{
    width:80px;
}

#fadea{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #7c7c7c;
    z-index:1002;
    -moz-opacity: 0.2;
    opacity:.70;
    filter: alpha(opacity=20);
}
.showImage{
    position:fixed;
    background-color:#ffffff;
    width:940px;
    z-index: 9002;
    margin-left: -192px;
    top:5%;
    float: left;
}

.wrapper-comment{
    float: left;
    width: 388px;
    height: 355px;
    overflow-x: hidden;
    padding: 0 15px 0;
}



.imgInfoUserPost{
    width: 50px;
    height: 50px;
    float: left;
}

.viewMoreComments{
    width: 403px;
    margin: 0;
}

.wrapperInfo{
    float: left;
    padding: 10px;
    margin-left: 15px;
}

.userPostImage{
    float: left;
    margin-bottom: 10px;
    font-size: 18px;
    color:blue;
    font-weight: bold;
}

.timePostImage{
    color: #90a967;
    font-size: 13px;
}

.infoUserPost{
    float: left;
    width: 418px;
}

.wrapperHoverDelete{
    display: none;
}

.deleteImg{
    position: absolute;
    padding: 10px;
}

.wrapperHoverLike{
    background: url('../images/gradient.png') repeat-x 10% 20%;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}

.descriptionImg{
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    padding: 4px;
}
.descriptionImg p{
    margin-left: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.count{
    padding-top: 4px;
    float: left;
    min-width: 80px;
    margin-left: 50%;
    padding-bottom: 4px;
}

.count img{
    margin: auto 5px;
    float: left;
}

.countComment{
    float: left;
    color: white;
    line-height: 13px;
}

.close{
    float: right;
    font-size: 30px;
    font-weight: bold;
    line-height: 21px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    padding: 3px;
}

#lightUpload {
    display: none;
    position:absolute;
    background-color:#ffffff;
    width:100%;
    min-height:600px;
    z-index: 9002;
    margin-left: -192px;
    top:0;
}

#fadeUpload {
    display: none;
    background-color:#111;
    opacity: 0.05;
    position:absolute;
    z-index: 9001;
    width:100%;
}

#containerViewPhoto{
    float: left;
    width: 100%;
}

#fileupload{
    padding: 20px;
}

.fileupload-buttonbar{
    margin-bottom: 15px;
}

.template-upload{
    border: 1px solid #c0c0c0;
}

.presentation{
    width:100%;
    float: left;
    margin: 0 auto;
}

.files{
    width:890px;
    margin: 0 auto;
}

.template-upload.fade {
    width: 200px;
    float: left;
    margin: 10px;
    position: relative;
    border: solid 1px #cbcbcb;
    background-color: #FFF;
    box-shadow: 0 0 15px #cbcbcb;
    -moz-box-shadow: 0 0 15px #cbcbcb;
    -webkit-box-shadow: 0 0 15px #cbcbcb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 11px;
}

.cancel{
    position: absolute;
    top: 0px;
    left: 180px;
    width:20px;
    height: 20px;
}

.preview{
    min-height: 12em;
    display: table-cell;
    vertical-align: middle;
    float: left;
    height: 150px;
    width: 200px;
    position: relative;
}

.preview img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.preview canvas{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#icon-menu{
    position: absolute;
    top :20px;
    height: 32px;
    left:613px;
    width:124px;
}

#icon-start {
    height: 32px;
    position: absolute;
}

.chooseFile{
    margin-left: 14px;
    width: 114px;
    margin-top: -27px;
    height: 32px;
}

.containerDescriptionPhoto{
    width: 100%;
    float: left;
}

.descriptionPhoto{
    width: 97%;
    margin-left: -1px;
}

.Error{
    position: absolute;
    margin-top: -100px;
    margin-left: 35px;
}

#loading{
    display:none;
    margin-top: -98px;
    position: absolute;
    background: url('../images/loading.gif');
    width: 34px;
    height: 23px;
    margin-left: 80px;
    border: none;
}

.fileinput-button{
    height: 30px;
    margin-left: -120px;
}

.ui-button-text {
    width: 89px;
}

.actionUpload {
    overflow: hidden;
}

#displayPhotos {
    padding: 20px 0px;
    overflow: hidden;
}

.photoWrap {
    float: left;
    padding: 0px 10px 10px;
}

.loadedPhoto {

}

.loadedPhoto img {
    max-width: 280px;
}

.writeSomething {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #ddd;
}

.writeSomething textarea {
    border: none;
    resize: none;
    width: 100%;
    padding: 0;
    height: 100%;
}

.photoActionBtn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.actionUploadBtn {
    color:#dadce3;
    text-align:left;
    vertical-align:middle;
    padding:10px 10px 0 10px;
    float: right;
}

.qualityOption {
    float: left;
    padding: 20px;
}

.containerPhotoPopUp {
    padding: 20px;
}

.actionFileUpload {
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
    font-weight:bold;
    padding:15px 20px;
    cursor:pointer;
    line-height:20px;
    margin:0 10px 10px 0;
    display:inline-block;
    background:#fff;
    border:1px solid #e8e8e8;
    color:#888;
    text-decoration:none;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -moz-box-shadow:0 2px 0 0 #e8e8e8;
    -webkit-box-shadow:0 2px 0 0 #e8e8e8;
    box-shadow:0 2px 0 0 #e8e8e8;
    padding:6px 10px 4px 10px;
    color:#fff;
    background:#2f8ab9;
    border:0;
    -moz-box-shadow:0 2px 0 0 #13648d;
    -webkit-box-shadow:0 2px 0 0 #13648d;
    box-shadow:0 2px 0 0 #13648d;
}

.removeImg {
    background-image: url("../images/delete.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.loadedPhoto:hover {


}